@font-face {
  font-family: openSans;
  src: url(../../assets/fonts/OpenSans-Light.ttf);
}
@font-face {
  font-family: openSans;
  src: url(../../assets/fonts/OpenSans-LightItalic.ttf);
  font-style: italic;
}
@font-face {
  font-family: openSans;
  src: url(../../assets/fonts/OpenSans-Bold.ttf);
  font-weight: bold;
}
