// variables
$desktop-width: 1200px; // desktop width
$tablet-width: 800px; // tablet width
$font-size: 16px; // font size
// for future if I want to change the colors individually
$byline-color: #ffffff; // color for the byline
$abstract-color: #ffffff; // color for the abstract
$title-color: #ffffff; // color for the title
$copyright-color: #c2c2c2; // color for the copyright footer
$background: black; // background color
$full-height: 100vh; // full height to use as measurement
$full-width: 100vw; // full width to use as measurement
$mobile-height-multiplier: 1.2;
$desktop-width-multiplier: 0.25;
$tablet-width-multiplier: 0.33;
$logo: "../images/nyt-logo.svg";
