// importing the reset and partial scss file
@import "reset"; // reset scss file
@import "variables"; // scss variables
@import "mixings"; // mixings
@import "fonts"; // sets the defaults of the body and html

body {
  background-color: $background;
  color: $abstract-color;
}

p,
h1,
h2,
h3 {
  color: $abstract-color;
  font-family: openSans, sans-serif;
  font-size: $font-size;
  line-height: 1rem;
}
// this sets the color of the span
h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
  line-height: 1.5rem;
}

// this is the header of the page
.header {
  // positions the logo and menu

  padding-top: 10vh;
  @include direction(column);
  @include justification(center, center);
  // position the logo and menu in tablet mode
  @include tablet {
    padding-top: 0;
    @include direction(row);
    @include justification(center, flex-end);
  }
  // positions the logo and menu in desktop mode
  @include desktop {
    @include justification(start, center);
  }

  // this takes effect when the content is loading. shrings the header
  .shrunkHeader {
    @include tablet {
      height: 0.7 * $full-width;
    }
    @include desktop {
      height: 0.05 * $full-width;
    }
  }
} // end of the header of the page
// the pulldown menu select tag
.menu {
  // puts the label on top of selector
  @include direction(column);
  @include justification(center, center);
  flex-wrap: wrap;
  padding-bottom: 3rem;

  // repossitions menu for tablet
  @include tablet {
    @include justification(center, center);
    padding-bottom: 0rem;
    font-size: 1.5rem;
  }
}

// logo sizing
.logo {
  width: $full-width;
  height: 0.6 * $full-width;
  background-image: url($logo);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  // tablet logo sizing
  @include tablet {
    width: 0.25 * $full-width;
  }
  // desktop logo sizing
  @include desktop {
    width: 0.15 * $full-width;
    height: 0.4 * $full-width;
  }
}
// this is the shrunken logo used after section is selected
.shrunkLogo {
  width: $full-width;
  height: 0.5 * $full-width;
  // tablet logo sizing
  @include tablet {
    width: 0.1 * $full-width;
    height: 0.2 * $full-width;
  }
  // desktop logo sizing
  @include desktop {
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 0.1.5 * $full-width;
    height: 0.1 * $full-width;
  }
}

.articles {
  // this is the articles section. this is where I am setting up the grid
  display: grid;
  grid-gap: 1rem;
  width: $full-width;
  // changes the grid to display in 3 columns for tablet
  @include tablet {
    grid-template-columns: repeat(3, 33%);
    width: auto;
  }
  // changes the grid to display in 4 columns for desktop
  @include desktop {
    grid-template-columns: repeat(4, 25%);
  }
}

.article {
  // each article containing an image, title, byline, and abstract
  display: flex;
  position: relative;
  &:focus {
    .abstract {
      display: block;
    }
  }
}

.description {
  // the container containing the byline, title, and abstract
  position: absolute;
  @include direction(column);
  width: $full-width;
  bottom: 0px;
  background-color: rgba(0, 0, 0, 0.5);
  // container size for tablet
  @include tablet {
    width: 0.33 * $full-width;
  }

  //container size for desktop
  @include desktop {
    width: 0.25 * $full-width;
  }
  &:hover {
    .abstract {
      display: block;
    }
  }
}
img {
  // sets up each image size
  width: $full-width;
  height: $mobile-height-multiplier * $full-width;
  transition: opacity;
  opacity: 1;
  object-fit: cover;

  // image size for tablets
  @include tablet {
    width: $tablet-width-multiplier * $full-width;
    height: $tablet-width-multiplier * $mobile-height-multiplier * $full-width;
  }
  //image size for desktop
  @include desktop {
    width: $desktop-width-multiplier * $full-width;
    height: $desktop-width-multiplier * $mobile-height-multiplier * $full-width;
  }
}

.loader {
  display: flex;
  position: absolute;
}

.invisible {
  opacity: 0;
}

// abstract properties
.abstract {
  padding: 0 10px 0 10px;
  order: 3;
  // displays abstract if not mobile or tablet
  @include mouse {
    display: none;
  }
}

// byline properties
.byline {
  padding: 0 10px 0 10px;
  font-style: italic;
  order: 2;
}
// title properties
.title {
  padding: 0 10px 0 10px;
  font-weight: bold;
  order: 1;
}

// footer container
.footer {
  display: flex;
  @include justification(center, center);
  height: 0.1 * $full-height;
  padding-top: 3rem;
  // changes for tablet format
  @include tablet {
    font-size: 1.5rem;
  }
  // changes for desktop format
  @include desktop {
    @include justification(left, center);
    padding-left: 3rem;
  }
  p {
    color: $copyright-color;
  }
}
