// importing the reset and partial scss file
@import "reset"; // reset scss file
@import "variables"; // scss variables
@import "mixings"; // mixings

// sets the defaults of the body and html
body {
  background-color: $background;
  color: $abstract-color;
}

p,
h1,
h2,
h3 {
  color: $abstract-color;
  font-family: Open "Sans Light";
  font-size: $font-size;
  line-height: 1rem;
}
// this sets the color of the span
h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
  line-height: 1.5rem;
}

.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
}
.screen-reader-text:focus {
  clip: auto !important;
  display: block;
  height: auto;
  left: 5px;
  top: 5px;
  width: auto;
  z-index: 100000; /* above all content */
}

// this is the header of the page
.header {
  // height: 1.2 * $full-width; // sets the height of the header container
  // positions the logo and menu
  padding-top: 10vh;
  @include direction(column);
  @include justification(center, center);
  // position the logo and menu in tablet mode
  @include tablet {
    // height: 0.7 * $full-width; // sets the height of the header container
    padding-top: 0;
    @include direction(row);
    @include justification(center, flex-end);
  }
  // positions the logo and menu in desktop mode
  @include desktop {
    @include justification(start, center);
  }

  .shrunkHeader {
    // positions the logo and menu

    // position the logo and menu in tablet mode
    @include tablet {
      height: 0.7 * $full-width; // sets the height of the header container
    }
    // positions the logo and menu in desktop mode
    @include desktop {
    }
  }
  // the pulldown menu select tag
  .menu {
    // puts the label on top of selector
    @include direction(column);
    @include justification(center, center);
    height: 100px;
    flex-wrap: wrap;
    // height: 50px;
    // padding-bottom: 3rem;
    // font-size: 1rem;
    // repossitions menu for tablet
    @include tablet {
      @include justification(center, center);
      height: auto;
      padding-bottom: 0;
      font-size: 1.5rem;
    }
  }

  // logo sizing
  .logo {
    width: $full-width;
    height: 0.6 * $full-width;
    background-image: url("../../assets/images/nyt-logo.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    // tablet logo sizing
    @include tablet {
      width: 0.25 * $full-width;
    }
    // desktop logo sizing
    @include desktop {
      width: 0.2 * $full-width;
      height: 0.5 * $full-width;
    }
  }

  .shrunkLogo {
    width: $full-width;
    height: 0.5 * $full-width;
    // tablet logo sizing
    @include tablet {
      width: 0.1 * $full-width;
      height: 0.2 * $full-width;

      // height: auto;
    }
    // desktop logo sizing
    @include desktop {
      width: 0.25 * $full-width;
    }
  }
} // end of the header of the page

.articles {
  // this is the articles section. this is where I am setting up the grid
  display: grid;
  width: $full-width;
  // changes the grid to display in 3 columns for tablet
  @include tablet {
    grid-template-columns: repeat(3, 33%);
    width: auto;
  }
  // changes the grid to display in 4 columns for desktop
  @include desktop {
    grid-template-columns: repeat(4, 25%);
  }

  .article {
    // each article containing an image, title, byline, and abstract
    display: flex;
    position: relative;

    img {
      // sets up each image size
      width: $full-width;
      height: $mobile-height-multiplier * $full-width;
      // image size for tablets
      @include tablet {
        width: $tablet-width-multiplier * $full-width;
        height: $tablet-width-multiplier * $mobile-height-multiplier *
          $full-width;
      }
      //image size for desktop
      @include desktop {
        width: $desktop-width-multiplier * $full-width;
        height: $desktop-width-multiplier * $mobile-height-multiplier *
          $full-width;
      }
    }
    .description {
      // the container containing the byline, title, and abstract
      position: absolute;
      @include direction(column);
      // @include justification(space-between, space-between);
      width: $full-width;
      bottom: 0px;
      background-color: rgba(0, 0, 0, 0.5);
      // container size for tablet
      @include tablet {
        width: 0.33 * $full-width;
      }
      //container size for desktop
      @include desktop {
        width: 0.25 * $full-width;
      }
      // abstract properties
      .abstract {
        padding: 0 10px 0 10px;
        order: 3;
      }
      // byline properties
      .byline {
        padding: 0 10px 0 10px;
        font-style: italic;
        order: 2;
      }
      // title properties
      .title {
        padding: 0 10px 0 10px;
        font-weight: bolder;
        order: 1;
      }
    }
  }
}

// footer container
.footer {
  display: flex;
  @include justification(center, center);
  height: 0.1 * $full-height;
  padding-top: 3rem;
  // changes for tablet format
  @include tablet {
    font-size: 1.5rem;
  }
  // changes for desktop format
  @include desktop {
    @include justification(left, center);
    padding-left: 3rem;
  }
  p {
    color: $copyright-color;
  }
}
